.container {
	// width: 100%;
	max-width: 1240px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
	// @include desk {
	// 	width: 1440px;
	// }
}

.primary_font {
	@include font();
}

.secondary_font {
	@include font($fw: 600);
}

.text_font_1 {
	@include font($fw: 400);
}

.text_font_2 {
	@include font($fs: 14px, $fw: 400, $lh: 24px);
}

.title_font {
	@include font($fs: 48px, $fw: 700, $lh: 64px);
}

.minor_title_font {
	@include font($fs: 24px, $fw: 700, $lh: 32px);
}

.price_font_1 {
	@include font($fw: 700, $lh: 24px);
}

.price_font_2 {
	@include font($fw: 500, $lh: 24px);
}

.product_small_font_1 {
	@include font($fs: 12px, $fw: 400, $lh: 24px);
	color: var(--panda-product-grey);
}

.product_small_font_2 {
	@include font($fs: 12px, $fw: 600, $lh: 24px);
	color: var(--panda-input-grey);
}

.primary_font,
.text_font_1,
.text_font_2 {
	color: var(--panda-grey);
}

.title_wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 56px;
}

.current {
	color: var(--clearly-white);
	&::after {
		content: "";
		width: 100%;
		height: 2px;
		background-color: var(--panda-light-blue);
		border-radius: 2px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}

.primary_button {
	min-width: 175px;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 16px;
	border-radius: 16px;
	border: 1px solid var(--panda-light-blue);
	color: var(--clearly-white);
	@include scale_with_pointer;
}

.secondary_button {
	min-width: 119px;
	padding: 16px;
	color: var(--clearly-white);
	border-radius: 8px;
	background-color: var(--panda-first-btn-rgba);
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		cursor: pointer;
		background-color: var(--panda-light-blue);
		box-shadow: var(--panda-second-btn-shadow);
	}
	&--active {
		background-color: var(--panda-light-blue);
		box-shadow: var(--panda-second-btn-shadow);
	}
}

.section {
	padding-bottom: 160px;
}

.logo {
	font-family: Poppins, sans-serif;
	@include align_list;
	color: var(--clearly-white);
	@include scale;
}

.logo__image {
	width: 43px;
	height: 40px;
	margin-right: 10px;
}

.ornament {
	position: absolute;
	z-index: -1;
	width: 638px;
	height: 587px;
	background: var(--panda-ornament);
	overflow: hidden;
	filter: blur(350px);
}

.button_to_top {
	position: fixed;
	bottom: 3vh;
	right: calc(-10%);
	z-index: 1;
	width: 50px;
	height: 50px;
	@include align_list_justify_center;
	border-radius: 20%;
	opacity: 0;
	visibility: hidden;
	border: 1px solid var(--panda-light-blue);
	background-color: transparent;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	&--visible {
		right: calc(2.5%);
		opacity: 1;
		visibility: visible;
	}
}

.visually_hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// .is_hidden {
// 	display: none;
// 	pointer-events: none;
// 	visibility: hidden;
// }