.bid_list {
    @include lap {
        display: flex;
        column-gap: 12px;
    }
    @include desk {
        column-gap: 24px;
    }
}

.bid_item {
    width: 310px;
    margin: 0 auto;
    padding: 14px;
    border-radius: 16px;
    background-color: var(--panda-second-medium-blue);
    cursor: pointer;
    @include tab {
        width: 384px;
        padding: 24px;
    }
    @include lap {
        width: 309px;
        padding: 14px;
    }
    @include desk {
        width: 384px;
        padding: 24px;
        @include scale;
    }
    &:not(:last-child) {
        margin-bottom: 24px;
        @include lap {
            margin-bottom: 0;
        }
    }
}

.bid_image_wrap {
    position: relative;
}

.bid_image {
    @include dynamic_image($mw: 280px, $w:280px, $mh: 352px, $br: 16px);
    margin-bottom: 24px;
    @include tab {
        @include dynamic_image($mw: 336px, $w:336px, $mh: 352px, $br: 16px);
    }
    @include lap {
        @include dynamic_image($mw: 281px, $w:281px, $mh: 352px, $br: 16px);
    }
    @include desk {
        @include dynamic_image($mw: 336px, $w:336px, $mh: 352px, $br: 16px);
    }
}

.bid_icon_wrap {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    background-color: var(--clearly-white);
}

.bid_icon {
    color: var(--panda-heart-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--panda-heart-pink);
    }
    &--pink {
        color: var(--panda-heart-pink);
    }
}

.bid_name_price_wrap {
    @include align_list;
    justify-content: space-between;
    margin-bottom: 24px;
}

.bid_name {
    @include dynamic_name($mw: 150px, $mh: 26px);
}

.bid_name,
.bid_pre_price {
    margin-bottom: 8px;
}

.bid_author_wrap {
    @include align_list;
}

.bid_avatar {
    @include dynamic_image($mw: 40px, $w:40px, $mh: 40px, $br: 50%);
    margin-right: 8px;
}

.bid_author {
    @include dynamic_name($mw: 105px, $mh: 24px);
    color: var(--clearly-white);
}

.bid_price {
    text-align: right;
}

.bid_time_wrap {
    @include align_list;
    justify-content: space-between;
}

.bid_time {
    @include align_list;
    svg {
        margin-right: 8px;
    }
}

.bid_button {
    min-width: 129px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: var(--clearly-white);
    border-radius: 16px;
    background-color: var(--panda-light-blue);
    box-shadow: var(--panda-first-btn-shadow);
    cursor: pointer;
    @include desk {
        @include scale;
    }
}