<section>
    <div class="container">
        <div class="title_wrap">
            <h2 class="title_font">Another NFTs</h2>
            <button type="button" class="primary_button primary_font">Get Started</button>
        </div>
        <ul class="bid_list">
            <li class="bid_item">
                <div class="bid_image_wrap">
                    <img src="./images/bid_image_16.png" alt="bid_image_16" class="bid_image">
                    <div class="bid_icon_wrap">
                        <svg width="24" height="24" class="bid_icon bid_icon--pink">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                    </div>
                </div>
                <div class="bid_name_price_wrap">
                    <div>
                        <p class="secondary_font bid_name">Dao Vinci #0000</p>
                        <a href="" class="text_font_2 bid_author">@SalvadorDali</a>
                    </div>
                    <div>
                        <p class="text_font_1 bid_pre_price">Current Bid</p>
                        <p class="price_font_1 bid_price">4.89 eTH</p>
                    </div>
                </div>
                <div class="bid_time_wrap">
                    <p class="secondary_font bid_time">
                        <svg width="24" height="24">
                            <use href="./images/icons.svg#icon-fire"></use>
                        </svg>
                        05 : 12 : 07 : 26
                    </p>
                    <button type="button" class="primary_font bid_button">Bid</button>
                </div>
            </li>
            <li class="bid_item">
                <div class="bid_image_wrap">
                    <img src="./images/bid_image_17.png" alt="bid_image_17" class="bid_image">
                    <div class="bid_icon_wrap">
                        <svg width="24" height="24" class="bid_icon">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                    </div>
                </div>
                <div class="bid_name_price_wrap">
                    <div>
                        <p class="secondary_font bid_name">Fangster 8668</p>
                        <a href="" class="text_font_2 bid_author">@Kurrebe</a>
                    </div>
                    <div>
                        <p class="text_font_1 bid_pre_price">Current Bid</p>
                        <p class="price_font_1 bid_price">4.89 eTH</p>
                    </div>
                </div>
                <div class="bid_time_wrap">
                    <p class="secondary_font bid_time">
                        <svg width="24" height="24">
                            <use href="./images/icons.svg#icon-fire"></use>
                        </svg>
                        05 : 12 : 07 : 26
                    </p>
                    <button type="button" class="primary_font bid_button">Bid</button>
                </div>
            </li>
            <li class="bid_item">
                <div class="bid_image_wrap">
                    <img src="./images/bid_image_18.png" alt="bid_image_18" class="bid_image">
                    <div class="bid_icon_wrap">
                        <svg width="24" height="24" class="bid_icon">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                    </div>
                </div>
                <div class="bid_name_price_wrap">
                    <div>
                        <p class="secondary_font bid_name">Sherbet 3062</p>
                        <a href="" class="text_font_2 bid_author">@Noche</a>
                    </div>
                    <div>
                        <p class="text_font_1 bid_pre_price">Current Bid</p>
                        <p class="price_font_1 bid_price">4.89 eTH</p>
                    </div>
                </div>
                <div class="bid_time_wrap">
                    <p class="secondary_font bid_time">
                        <svg width="24" height="24">
                            <use href="./images/icons.svg#icon-fire"></use>
                        </svg>
                        05 : 12 : 07 : 26
                    </p>
                    <button type="button" class="primary_font bid_button">Bid</button>
                </div>
            </li>
        </ul>
    </div>
</section>