<section class="section create_sell">
    <div class="container">
        <h2 class="title_font create_sell__title">Create and sell your NFTs</h2>
        <ul class="create_sell__list">
            <li class="create_sell__item">
                <div class="create_sell__icon_wrap">
                    <svg width="34" height="34">
                        <use href="./images/icons.svg#icon-monitor"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font create_sell__minor_title">Set up your wallet</h3>
                <p class="text_font_2">Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the
                    wallet icon in the top right corner.</p>
            </li>
            <li class="create_sell__item">
                <div class="create_sell__icon_wrap">
                    <svg width="34" height="34">
                        <use href="./images/icons.svg#icon-monitor"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font create_sell__minor_title">Add your NFTs</h3>
                <p class="text_font_2">Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the
                    wallet icon in the top right corner.</p>
            </li>
            <li class="create_sell__item">
                <div class="create_sell__icon_wrap">
                    <svg width="34" height="34">
                        <use href="./images/icons.svg#icon-monitor"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font create_sell__minor_title">List them for sale</h3>
                <p class="text_font_2">Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the
                    wallet icon in the top right corner.</p>
            </li>
        </ul>
    </div>
</section>