<section class="section featured_artist">
    <div class="container">
        <div class="title_wrap">
            <h2 class="title_font">Featured Artist</h2>
            <a href="" class="button primary_button primary_font" data-development>
                Get Started
            </a>
        </div>
        <ul class="featured_artist__list">
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img
                        srcset="./images/artist_1.png 1x, ./images/artist_1@2.png 2x"
                        src="./images/artist_1.png"
                        alt="artist_1"
                        class="featured_artist__image">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font featured_artist__name">Crispin Berry</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img
                        srcset="./images/artist_2.png 1x, ./images/artist_2@2.png 2x"
                        src="./images/artist_2.png"
                        alt="artist_2"
                        class="featured_artist__image">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font featured_artist__name">Wade Warren</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img
                        srcset="./images/artist_3.png 1x, ./images/artist_3@2.png 2x"
                        src="./images/artist_3.png"
                        alt="artist_3"
                        class="featured_artist__image">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font featured_artist__name">Robert Fox</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img
                        srcset="./images/artist_4.png 1x, ./images/artist_4@2.png 2x"
                        src="./images/artist_4.png"
                        alt="artist_4"
                        class="featured_artist__image">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font featured_artist__name">Jacob Jones</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img
                        srcset="./images/artist_5.png 1x, ./images/artist_5@2.png 2x"
                        src="./images/artist_5.png"
                        alt="artist_5"
                        class="featured_artist__image">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font featured_artist__name">Ralph Edwards</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img
                        srcset="./images/artist_6.png 1x, ./images/artist_6@2.png 2x"
                        src="./images/artist_6.png"
                        alt="artist_6"
                        class="featured_artist__image">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font featured_artist__name">Arlene McCoy</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
        </ul>
    </div>
</section>