<section class="section featured_artist">
    <div class="container">
        <div class="title_wrap">
            <h2 class="title_font">Featured Artist</h2>
            <button type="button" class="primary_button primary_font" data-development>
                Get Started
            </button>
        </div>
        <ul class="featured_artist__list">
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img src="./images/artist_1.png" alt="artist_1">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font">Crispin Berry</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img src="./images/artist_2.png" alt="artist_2">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font">Wade Warren</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img src="./images/artist_3.png" alt="artist_3">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font">Robert Fox</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img src="./images/artist_4.png" alt="artist_4">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font">Jacob Jones</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img src="./images/artist_5.png" alt="artist_5">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font">Ralph Edwards</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
            <li class="featured_artist__item">
                <div class="featured_artist__image_wrap">
                    <img src="./images/artist_6.png" alt="artist_6">
                    <svg width="26" height="26" class="featured_artist__check_icon">
                        <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                </div>
                <h3 class="minor_title_font">Arlene McCoy</h3>
                <p class="price_font_2">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-double_arrow"></use>
                    </svg>
                    214.2 ETH
                </p>
            </li>
        </ul>
    </div>
</section>