<footer class="footer">
    <div class="container">
        <div class="footer__logo_wrap">
            <a href="./index.html" class="logo primary_font">
                <img src="./images/logo.png" alt="Panda_face" class="logo__image">
                Panda NFT</a>
            <p class="text_font_1">The world’s first and largest digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, sell, and
            discover exclusive digital items.</p>
            <p class="text_font_2">2021 All Right Reserved</p>
        </div>
        <div class="footer__resources_wrap">
            <h3 class="minor_title_font">Resources</h3>
            <ul>
                <li class="footer__resources_item">
                    <p href="" class="text_font_1">Help Center</p>
                </li>
                <li class="footer__resources_item">
                    <p href="" class="text_font_1">Platform Status</p>
                </li>
                <li class="footer__resources_item">
                    <p href="" class="text_font_1">Partners</p>
                </li>
                <li class="footer__resources_item">
                    <p href="" class="text_font_1">Gas-Free Marketplace</p>
                </li>
                <li class="footer__resources_item">
                    <p href="" class="text_font_1">Blog</p>
                </li>
            </ul>
        </div>
        <div class="footer__company_wrap">
            <h3 class="minor_title_font">Company</h3>
            <ul>
                <li class="footer__company_item">
                    <p href="" class="text_font_1">Our Team</p>
                </li>
                <li class="footer__company_item">
                    <p href="" class="text_font_1">About Us</p>
                </li>
                <li class="footer__company_item">
                    <p href="" class="text_font_1">Contact Us</p>
                </li>
                <li class="footer__company_item">
                    <p href="" class="text_font_1">Career</p>
                </li>
            </ul>
        </div>
        <address class="address">
            <h3 class="minor_title_font">Contact</h3>
            <a href="https://goo.gl/maps/a5K1ig2UduAJg1j5A" target="_blank" rel="noopener noreferrer nofollow"
                class="text_font_1">2715 Ash Dr. San Jose, South Dakota 83475</a>
            <ul class="address__list">
                <li class="address__item">
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer nofollow">
                        <svg width="24" height="24" class="address__icon">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="address__item">
                    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer nofollow">
                        <svg width="24" height="24" class="address__icon">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="address__item">
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow">
                        <svg width="24" height="24" class="address__icon">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </address>
        <img src="./images/ornament.png" alt="Blue_decorative_circle" class="ornament footer__ornament">
    </div>
</footer>