<header class="header">
    <div class="container">
        <a href="./index.html" class="logo primary_font">
            <img
                srcset="./images/logo.png 1x, ./images/logo@2.png 2x"
                src="./images/logo.png"
                alt="Panda_face"
                class="logo__image">
            Panda NFT
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <p class="primary_font" data-home>Home</p>
                </li>
                <li class="nav__item">
                    <p class="primary_font" data-discover>Discover</p>
                </li>
                <li class="nav__item">
                    <p class="primary_font" data-development>Docs</p>
                </li>
                <li class="nav__item">
                    <p class="primary_font" data-development>Blog</p>
                </li>
                <li class="nav__item">
                    <p class="primary_font" data-development>About Us</p>
                </li>
                <li class="nav__item">
                    <p class="primary_font" data-development>Contact Us</p>
                </li>
            </ul>
        </nav>
        <a href="" class="button primary_button primary_font header__primary_button" data-development>
            Connect Wallet
        </a>
        <button type="button" class="button_to_top">
            <svg width="24" height="24">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
        <include src="./partials/mob_menu.html"></include>
    </div>
</header>