<header class="header">
    <div class="container">
        <a href="./index.html" class="logo primary_font">
            <img src="./images/logo.png" alt="Panda_face" class="logo__image">
            Panda NFT
        </a>
        <nav>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html" class="primary_font current">Home</a>
                </li>
                <li class="nav__item">
                    <a href="" class="primary_font">Discover</a>
                </li>
                <li class="nav__item">
                    <a href="" class="primary_font">Docs</a>
                </li>
                <li class="nav__item">
                    <a href="" class="primary_font">Blog</a>
                </li>
                <li class="nav__item">
                    <a href="" class="primary_font">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="" class="primary_font">Contact Us</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="primary_button primary_font">
            Connect Wallet
        </button>
    </div>
</header>