<section>
    <div class="container">
        <div class="join_comunity__wrap">
            <h2 class="title_font">Create Your Own NFT!</h2>
            <p class="text_font_1 join_comunity__text">We have a large scale group to support each other in this game, Join us to get the news as soon as possible and follow
            our latest announcements!</p>
            <a href="" class="button primary_font join_comunity__button" data-development>Join Comunity Now</a>
        </div>
    </div>
</section>