<section class="discover">
    <div class="container">
        <h1 class="main__title">Discover a New Era of Crypto Currency</h1>
        <div class="main__after_title_wrap">
            <p class="text_font_1 main__after_title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint.
                Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <a href="" class="button primary_font main__button" data-development>Get Started
                <svg width="24" height="24" class="main__arrow">
                    <use href="./images/icons.svg#icon-send"></use>
                </svg>
            </a>
        </div>
    </div>
    <div class="splide" role="group">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img
                        srcset="./images/bird_1.png 1x, ./images/bird_1@2.png 2x"
                        src="./images/bird_1.png"
                        alt="bird_1"
                        class="splide__image">
                </li>
                <li class="splide__slide">
                    <img
                        srcset="./images/bird_2.png 1x, ./images/bird_2@2.png 2x"
                        src="./images/bird_2.png"
                        alt="bird_2"
                        class="splide__image">
                </li>
                <li class="splide__slide">
                    <img
                        srcset="./images/bird_3.png 1x, ./images/bird_3@2.png 2x"
                        src="./images/bird_3.png"
                        alt="bird_3"
                        class="splide__image">
                </li>
            </ul>
        </div>
    </div>
</section>