<svg class="mob_menu__icon-open" width="40" height="40" data-menu-open>
    <use href="images/icons.svg#icon-open"></use>
</svg>
<div class="mob_menu is_hidden" data-menu>
    <div class="container">
        <div class="mob_menu__top">
            <svg class="mob_menu__icon-close" width="40" height="40" data-menu-close>
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
            <ul class="mob_menu__list">
                <li class="mob_menu__item">
                    <p class="minor_title_font current_mob" data-home-mob>Home</p>
                </li>
                <li class="mob_menu__item">
                    <p class="minor_title_font" data-discover-mob>Discover</p>
                </li>
                <li class="mob_menu__item">
                    <p class="minor_title_font" data-development>Docs</p>
                </li>
                <li class="mob_menu__item">
                    <p class="minor_title_font" data-development>Blog</p>
                </li>
                <li class="mob_menu__item">
                    <p class="minor_title_font" data-development>About Us</p>
                </li>
                <li class="mob_menu__item">
                    <p class="minor_title_font" data-development>Contact Us</p>
                </li>
            </ul>
            <a href="" class="button primary_button primary_font" data-development>
                Connect Wallet
            </a>
        </div>
        <div class="mob_menu__bottom">
            <a href="https://goo.gl/maps/a5K1ig2UduAJg1j5A" target="_blank" rel="noopener noreferrer nofollow"
                class="mob_menu_font mob_menu__address">2715 Ash Dr. San Jose, South Dakota 83475</a>
            <ul class="mob_menu__social">
                <li class="mob_menu__social_item">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer nofollow"
                        class="mob_menu_font">Facebook</a>
                </li>
                <li class="mob_menu__social_item">
                    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer nofollow"
                        class="mob_menu_font">Twitter</a>
                </li>
                <li class="mob_menu__social_item">
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer nofollow"
                        class="mob_menu_font">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
    <img src="./images/ornament.png" alt="Blue_decorative_circle" class="ornament mob_menu__ornament">
</div>