<section class="section pagination">
    <div class="pagination__wrap">
        <h2 class="visually_hidden">Pagination</h2>
        <button type="button" class="pagination__prev_button">
            <svg class="pagination__icon" width="16" height="16">
                <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <ul class="pagination__list">
            <li class="pagination__item">
                <button type="button" class="product_small_font_2 pagination__page_button">1</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="pagination__page_dots">...</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="product_small_font_2 pagination__page_button">4</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="product_small_font_2 pagination__page_button">5</button>
            </li>
            <li class="pagination__item pagination__item--active">
                <button type="button" class="product_small_font_2 pagination__page_button">6</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="product_small_font_2 pagination__page_button">7</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="product_small_font_2 pagination__page_button">8</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="pagination__page_dots">...</button>
            </li>
            <li class="pagination__item">
                <button type="button" class="product_small_font_2 pagination__page_button">24</button>
            </li>
        </ul>
        <button type="button" class="pagination__next_button">
            <svg class="pagination__icon" width="16" height="16">
                <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
    <div>
        <img src="./images/pagination_navigation.png" alt="pagination_navigation" class="pagination_navigation_image">
    </div>
</section>