<div class="pagination__wrap">
    <button type="button" class="pagination__prev_button">
        <svg class="pagination__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
    </button>
    <ul class="pagination__list">
        <li class="product_small_font_2 pagination__item">1</li>
        <li class="product_small_font_2 pagination__item">...</li>
        <li class="product_small_font_2 pagination__item">5</li>
        <li class="product_small_font_2 pagination__item pagination__item--active">6</li>
        <li class="product_small_font_2 pagination__item">7</li>
        <li class="product_small_font_2 pagination__item">...</li>
        <li class="product_small_font_2 pagination__item">24</li>
    </ul>
    <button type="button" class="pagination__next_button">
        <svg class="pagination__icon" width="16" height="16">
            <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
    </button>
</div>