<section class="partners">
    <div class="container">
        <h2 class="visually_hidden">Our partners</h2>
        <ul class="partners__list">
            <li class="partners__item">
                <a href="https://www.binance.com/en" target="_blank" rel="noopener noreferrer nofollow">
                    <svg width="206" height="51">
                        <use href="./images/icons.svg#icon-binance_logo"></use>
                    </svg>
                </a>
            </li>
            <li class="partners__item">
                <a href="https://trustwallet.com/" target="_blank" rel="noopener noreferrer nofollow">
                    <svg width="206" height="51">
                        <use href="./images/icons.svg#icon-trust_wallet_logo"></use>
                    </svg>
                </a>
            </li>
            <li class="partners__item">
                <a href="https://metamask.io/" target="_blank" rel="noopener noreferrer nofollow">
                    <svg width="206" height="51">
                        <use href="./images/icons.svg#icon-metamask_logo"></use>
                    </svg>
                </a>
            </li>
            <li class="partners__item">
                <a href="https://www.coinbase.com/" target="_blank" rel="noopener noreferrer nofollow">
                    <svg width="206" height="51">
                        <use href="./images/icons.svg#icon-coinbase_logo"></use>
                    </svg>
                </a>
            </li>
            <li class="partners__item">
                <a href="https://www.tokocrypto.com/" target="_blank" rel="noopener noreferrer nofollow">
                    <svg width="206" height="51">
                        <use href="./images/icons.svg#icon-tokocrypto_logo"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <img src="./images/ornament.png" alt="Blue_decorative_circle" class="ornament partners__ornament">
</section>