<section class="product__main">
    <div class="container">
        <div class="product__image_wrap">
            <img src="./images/product_bird.png" alt="product_bird" class="product__image">
            <div class="product__time_wrap">
                <p class="product__time minor_title_font">
                    <svg width="24" height="24">
                        <use href="./images/icons.svg#icon-fire"></use>
                    </svg>
                    05 : 12 : 07 : 26
                </p>
            </div>
        </div>
        <div class="product__main_description">
            <h2 class="title_font product__title">#1119 Seagull</h2>
            <p class="text_font_1 product__after_title">The Birdhouse is a collection of 6000 birds, each with it's own unique traits & personality. See them all at TheBirdHouse.app</p>
            <ul class="product__main_price_list">
                <li class="product__main_price_item">
                    <p class="text_font_1">Price Bid</p>
                    <h3 class="minor_title_font">10.89 eTH</h3>
                </li>
                <li class="product__main_price_item">
                    <p class="text_font_1">Last Bid</p>
                    <h3 class="minor_title_font">10.89 eTH</h3>
                </li>
            </ul>
            <ul class="product__main_artist_list">
                <li class="product__main_artist_item">
                    <img src="./images/product_artist_1.png" alt="product_artist_1" class="product__main_artist_image">
                    <div>
                        <p class="text_font_1">Creator</p>
                        <p class="price_font_2 product__main_artist_name">SalvadorDali</p>
                    </div>
                </li>
                <li class="product__main_artist_item">
                    <img src="./images/product_artist_2.png" alt="product_artist_2" class="product__main_artist_image">
                    <div>
                        <p class="text_font_1">Owner</p>
                        <p class="price_font_2 product__main_artist_name">SalvadorDali</p>
                    </div>
                </li>
            </ul>
            <ul class="product__main_button_list">
                <li>
                    <button type="button" class="secondary_font product__main_button product__main_button--active" data-development>Purchase Now</button>
                </li>
                <li>
                    <button type="button" class="secondary_font product__main_button" data-development>Place A Bid</button>
                </li>
            </ul>
        </div>
    </div>
</section>