<section class="section product__minor">
    <div class="container">
        <h2 class="visually_hidden">Details</h2>
        <ul class="product__minor_button_list">
            <li>
                <button type="button" class="price_font_1 product__minor_button product__minor_button--active" id="description">Description</button>
            </li>
            <li>
                <button type="button" class="price_font_1 product__minor_button" id="offers">Offers</button>
            </li>
            <li>
                <button type="button" class="price_font_1 product__minor_button" id="price_history">Price History</button>
            </li>
        </ul>
        <div class="product__minor_description_wrap">
            <p class="text_font_1 product__minor_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <ul class="product__minor_description_list">
                <li class="product__minor_description_item">
                    <p class="price_font_1">Contract Address</p>
                    <p class="text_font_1">0x49cf...a28b</p>
                </li>
                <li class="product__minor_description_item">
                    <p class="price_font_1">Token ID</p>
                    <p class="text_font_1">4133</p>
                </li>
                <li class="product__minor_description_item">
                    <p class="price_font_1">Token Standard</p>
                    <p class="text_font_1">ERC-721</p>
                </li>
                <li class="product__minor_description_item">
                    <p class="price_font_1">Blockchain</p>
                    <p class="text_font_1">Ethereum</p>
                </li>
            </ul>
        </div>
        <div class="product__minor_offers_wrap visually_hidden">
            <ul class="product__minor_offers_list">
                <li class="product__minor_offers_item">
                    <div class="product__minor_image_wrap">
                        <img src="./images/product_artist_3.png" alt="product_artist_3" class="product__minor_image">
                        <svg width="16" height="16" class="product__minor_check_icon">
                            <use href="./images/icons.svg#icon-check-green"></use>
                        </svg>
                    </div>
                    <div class="product__minor_name_wrap">
                        <p class="price_font_1 product__minor_name">Mason Woodward<span class="product_small_font_1">place a bid</span></p>
                        <p class="product_small_font_2">8 hours ago</p>
                    </div>
                    <div class="product__minor_price_wrap">
                        <p class="price_font_1">4.89 ETH</p>
                        <p class="product_small_font_1">= $12.246</p>
                    </div>
                </li>
                <li class="product__minor_offers_item">
                    <div class="product__minor_image_wrap">
                        <img src="./images/product_artist_4.png" alt="product_artist_4" class="product__minor_image">
                        <svg width="16" height="16" class="product__minor_check_icon">
                            <use href="./images/icons.svg#icon-check-green"></use>
                        </svg>
                    </div>
                    <div class="product__minor_name_wrap">
                        <p class="price_font_1 product__minor_name">Mason Woodward<span class="product_small_font_1">place a bid</span></p>
                        <p class="product_small_font_2">8 hours ago</p>
                    </div>
                    <div class="product__minor_price_wrap">
                        <p class="price_font_1">4.89 ETH</p>
                        <p class="product_small_font_1">= $12.246</p>
                    </div>
                </li><li class="product__minor_offers_item">
                    <div class="product__minor_image_wrap">
                        <img src="./images/product_artist_5.png" alt="product_artist_5" class="product__minor_image">
                        <svg width="16" height="16" class="product__minor_check_icon">
                            <use href="./images/icons.svg#icon-check-green"></use>
                        </svg>
                    </div>
                    <div class="product__minor_name_wrap">
                        <p class="price_font_1 product__minor_name">Mason Woodward<span class="product_small_font_1">place a bid</span></p>
                        <p class="product_small_font_2">8 hours ago</p>
                    </div>
                    <div class="product__minor_price_wrap">
                        <p class="price_font_1">4.89 ETH</p>
                        <p class="product_small_font_1">= $12.246</p>
                    </div>
                </li><li class="product__minor_offers_item">
                    <div class="product__minor_image_wrap">
                        <img src="./images/product_artist_6.png" alt="product_artist_6" class="product__minor_image">
                        <svg width="16" height="16" class="product__minor_check_icon">
                            <use href="./images/icons.svg#icon-check-green"></use>
                        </svg>
                    </div>
                    <div class="product__minor_name_wrap">
                        <p class="price_font_1 product__minor_name">Mason Woodward<span class="product_small_font_1">place a bid</span></p>
                        <p class="product_small_font_2">8 hours ago</p>
                    </div>
                    <div class="product__minor_price_wrap">
                        <p class="price_font_1">4.89 ETH</p>
                        <p class="product_small_font_1">= $12.246</p>
                    </div>
                </li>
            </ul>
            <img src="./images/product_navigation.png" alt="product_navigation" class="product__minor_scroll">
        </div>
        <div class="product__minor_price_history_wrap visually_hidden">
            <img src="./images/product_price_history.png" alt="product_price_history">
        </div>
    </div>
</section>