<section class="section product__minor">
    <div class="container">
        <h2 class="visually-hidden">Details</h2>
        <ul class="product__minor_button_list">
            <li>
                <button type="button" class="price_font_1 product__minor_button product__minor_button--active">Description</button>
            </li>
            <li>
                <button type="button" class="price_font_1 product__minor_button">Offers</button>
            </li>
            <li>
                <button type="button" class="price_font_1 product__minor_button">Price History</button>
            </li>
        </ul>
        <div class="product__minor_wrap">
            <p class="text_font_1 product__minor_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <ul class="product__minor_description_list">
                <li class="product__minor_description_item">
                    <p class="price_font_1">Contract Address</p>
                    <p class="text_font_1">0x49cf...a28b</p>
                </li>
                <li class="product__minor_description_item">
                    <p class="price_font_1">Token ID</p>
                    <p class="text_font_1">4133</p>
                </li>
                <li class="product__minor_description_item">
                    <p class="price_font_1">Token Standard</p>
                    <p class="text_font_1">ERC-721</p>
                </li>
                <li class="product__minor_description_item">
                    <p class="price_font_1">Blockchain</p>
                    <p class="text_font_1">Ethereum</p>
                </li>
            </ul>
        </div>
    </div>
</section>