.collectibles__box {
    padding-top: 80px;
    padding-bottom: 160px;
}

.collectibles {
    .title_font {
        text-align: center;
        margin-bottom: 56px;
    }
}

.collectibles__form {
    @include align_list;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 56px;
    margin-left: auto;
    padding: 16px;
    max-width: 800px;
    border-radius: 16px;
    border: 1px solid var(--panda-form-border-color);
    background-color: var(--panda-form-background-color);
}

.collectibles__input {
    width: 100%;
    margin-right: 8px;
    @include font($fs: 24px, $fw: 500);
    border: none;
    outline: none;
    color: var(--clearly-white);
    background-color: transparent;
    &::placeholder {
        color: var(--panda-input-grey);
    }
}

.collectibles__form_button {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 20px;
    background-color: var(--panda-light-blue);
    @include scale_with_pointer;
}

.collectibles__button_list {
    display: flex;
}

.collectibles__button_item {
    &:nth-child(1) {
        margin-right: auto;
        .secondary_button {
            @include align_list;
            justify-content: space-between;
            min-width: 175px;
        }
    }
    &:not(:first-child) {
        margin-left: 24px;
    }
}

.collectibles__button_list,
.collectibles__bid_list {
    margin-bottom: 56px;
}

.collectibles__bid_list {
    flex-wrap: wrap;
    row-gap: 32px;
}

.collectibles__more_button {
    display: block;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
}