.featured_artist {
    .title_font {
        margin-bottom: 24px;
        @include lap {
            margin-bottom: 0;
        }
    }
}

.featured_artist__list {
    @include align_list_justify_center;
    flex-wrap: wrap;
    gap: 20px;
    @include tab {
        gap: 40px;
    }
}

.featured_artist__item {
    width: 130px;
    flex-grow: 1;
    text-align: center;
    @include tab {
        width: 190px;
    }
    @include lap {
        flex-grow: 0;
        @include scale_with_pointer;
    }
    @include desk {
        width: auto;
    }
    &:nth-child(2n) {
        @include desk {
            flex-grow: 1;
        }
    }
    &:last-child {
        @include desk {
            flex-grow: 0;
        }
    }
    .minor_title_font {
        margin-bottom: 16px;
    }
    .price_font_2 {
        @include align_list_justify_center;
        svg {
            margin-right: 8px;
        }
    }
}

.featured_artist__image_wrap {
    position: relative;
    @include align_list_justify_center;
    max-width: 120px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 17px;
    margin-left: auto;
}

.featured_artist__image {
    @include dynamic_image($mw: 100px, $w:100px, $mh: 100px, $br: 50%);
    @include tab {
        @include dynamic_image($mw: 120px, $w:120px, $mh: 120px, $br: 50%);
    }
}

.featured_artist__check_icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.featured_artist__name {
    margin: 0 auto;
    @include dynamic_name($mw: 130px, $mh: 62px);
    @include tab {
        @include dynamic_name($mw: 200px, $mh: 32px);
    }
}