.footer {
	position: relative;
	padding-top: 88px;
	padding-bottom: 64px;
	overflow: hidden;
	.container {
		display: flex;
		justify-content: space-between;
	}
}

.footer__logo_wrap {
	max-width: 393px;
	.logo {
		max-width: 150px;
		margin-bottom: 24px;
	}
	.text_font_1 {
		margin-bottom: 112px;
	}
	.text_font_2 {
		color: var(--clearly-white);
	}
}

.footer__resources_wrap,
.footer__company_wrap,
.address {
	.minor_title_font {
		margin-bottom: 24px;
	}
}

.footer__resources_item,
.footer__company_item {
	&:not(:last-child) {
		margin-bottom: 16px;
	}
	p {
		@include change_color_with_pointer;
	}
}

.address {
	font-style: normal;
	.text_font_1 {
		display: block;
		max-width: 179px;
		margin-bottom: 16px;
		@include change_color;
	}
}

.address__list {
	@include align_list;
}

.address__item {
	&:not(:last-child) {
		margin-right: 24px;
	}
}

.address__icon {
	color: var(--clearly-white);
	@include change_color;
}

.footer__ornament {
	bottom: -100%;
	left: -35%;
}