.hot_nft {
    position: relative;
    h2 {
        text-align: center;
        margin-bottom: 56px;
    }
}

.hot_nft__list {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.hot_nft__item {
    &:not(:last-child) {
        margin-right: 24px;
    }
}

.hot_nft__bid_list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 56px;
}

.hot_nft__bid_item {
    @include small_scale_with_pointer;
}

.hot_nft__ornament {
    bottom: 5%;
    right: 5%;
}