.hot_nft {
    position: relative;
    h2 {
        text-align: center;
    }
}

.hot_nft h2,
.hot_nft__button_list,
.hot_nft__bid_list {
    margin-bottom: 28px;
    @include tab {
        margin-bottom: 56px;
    }
}

.hot_nft__button_list {
    @include align_list_justify_center;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
}

.hot_nft__button_item {
    flex-grow: 1;
    @include tab {
        flex-grow: 0;
    }
}

.hot_nft__bid_list {
    flex-wrap: wrap;
    row-gap: 56px;
}

.hot_nft__bid_item {
    @include lap {
		@include scale_with_pointer;
	}
}

.hot_nft__ornament {
    bottom: 5%;
    right: 5%;
}