.join_comunity__wrap {
    padding: 48px;
    text-align: center;
    border-radius: 16px;
    background-color: var(--panda-light-blue);
    .title_font {
        margin-bottom: 24px;
    }
}

.join_comunity__button {
    min-width: 239px;
    padding: 16px;
    border-radius: 16px;
    color: var(--panda-light-blue);
    background-color: var(--clearly-white);
    @include scale_with_pointer;
}

.join_comunity__text {
    max-width: 790px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    color: var(--clearly-white);
}