.live_actions {
    position: relative;
    .title_font {
        margin-bottom: 24px;
        @include lap {
            margin-bottom: 0;
        }
    }
}

.live_actions__ornament {
    top: 50%;
    left: -30%;
}