.main__box {
	padding-top: 56px;
	padding-bottom: 160px;
}

.discover {
	padding-bottom: 120px;
	.container {
		@include align_list_justify_center;
		margin-bottom: 56px;
	}
}

.main__title {
	@include font($fs:64px, $fw:700, $lh:80px);
	margin-right: 24px;
	max-width: 682px;
}

.main__after_title_wrap {
	max-width: 488px;
}

.main__after_title {
	margin-bottom: 24px;
}

.main__button {
	@include align_list;
	justify-content: start;
	max-width: 135px;
	text-decoration: underline;
	color: var(--clearly-white);
	@include change_color_with_pointer;
}

.main__arrow {
	margin-left: 8px;
	fill: currentColor;
}

.splide {
	margin: 0 auto;
}

.splide__slide:hover {
	cursor: pointer;
}

.splide__image {
	@include dynamic_image($mw: 498px, $w:498px, $mh: 352px, $br: 16px);
}