.partners {
    padding-bottom: 75px;
    position: relative;
    @include tab {
        padding-bottom: 151px;
    }
}

.partners__list,
.partners__icon {
    @include align_list_justify_center;
    flex-flow: row wrap;
}

.partners__item {
    @include lap {
		@include scale_with_pointer;
	}
    &:not(:last-child) {
        margin-bottom: 41px;
        @include tab {
            margin-right: 41px;
            margin-bottom: 0;
        }
    }
}

.partners__link {
    display: block;
}

.partners__ornament {
    top: -100%;
    right: 0;
}