.product__minor_button_list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.product__minor_button {
    min-width: 175px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    @include scale_with_pointer;
    color: var(--panda-grey);
    &--active {
        color: var(--clearly-white);
        border-radius: 8px;
        background: var(--panda-light-blue);
    }
}

.product__minor_description_wrap {
    padding-left: 100px;
}

.product__minor_text {
    max-width: 700px;
    margin-bottom: 24px;
    color: var(--panda-heart-grey);
}

.product__minor_description_list {
    max-width: 349px;
}

.product__minor_description_item {
    @include align_list;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    .price_font_1,
    .text_font_1 {
        color: var(--panda-heart-grey);
    }
}

.product__minor_offers_wrap {
    display: flex;
    padding-left: 94px;
}

.product__minor_offers_list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.product__minor_offers_item {
    @include align_list;
    width: 482px;
}

.product__minor_image_wrap {
    position: relative;
    margin-right: 21px;
}

.product__minor_image {
    @include dynamic_image($mw: 56px, $w:56px, $mh: 56px, $br: 8px);
}

.product__minor_check_icon {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(25%, 25%);
}

.product__minor_name_wrap {
    margin-right: auto;
}

.product__minor_name {
    @include align_list;
    @include dynamic_name($mw: 230px, $mh: 24px);
}

.product_small_font_1 {
    margin-left: 8px;
}

.product__minor_price_wrap {
    text-align: right;
}

.product__minor_scroll {
    max-width: 8px;
    margin-left: 86px;
}