.product__minor_button_list {
    text-align: center;
    margin-bottom: 20px;
    @include tab {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
}

.product__minor_button_item {
    &:not(:last-child) {
        margin-bottom: 12px;
        @include tab {
            margin-bottom: 0;
        }
    }
}

.product__minor_button {
    min-width: 175px;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    color: var(--panda-grey);
    @include lap {
		@include scale_with_pointer;
	}
    &--active {
        color: var(--clearly-white);
        border-radius: 8px;
        background: var(--panda-light-blue);
    }
}

.product__minor_description_wrap {
    @include lap {
        padding-left: 100px;
    }
}

.product__minor_text {
    max-width: 700px;
    margin-bottom: 24px;
    color: var(--panda-heart-grey);
}

.product__minor_description_list {
    max-width: 349px;
}

.product__minor_description_item {
    @include align_list;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 16px;
    }
    .price_font_1,
    .text_font_1 {
        color: var(--panda-heart-grey);
    }
}

.product__minor_offers_wrap {
    display: flex;
    max-width: 1200px;
    max-height: 740px;
    overflow-x: hidden;
    @include tab {
        max-height: 320px;
    }
    @include lap {
        max-height: 170px;
    }
    @include desk {
        padding-left: 85px;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 3.5px;
		background-color: var(--panda-scrollbar-track);
	}
	&::-webkit-scrollbar-thumb {
        border-radius: 3.5px;
		background-color: var(--panda-scrollbar-thumb);
	}
}

.product__minor_offers_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    @include tab {
        gap: 30px;
    }
    @include lap {
        gap: 48px;
    }
}

.product__minor_offers_item {
    @include tab {
        @include align_list;
        width: 482px;
    }
    @include lap {
        width: 420px;
    }
    @include desk {
        width: 482px;
    }
}

.product__minor_image_wrap {
    position: relative;
    margin-bottom: 12px;
    @include tab {
        margin-right: 21px;
        margin-bottom: 0;
    }
}

.product__minor_image {
    @include dynamic_image($mw: 56px, $w:56px, $mh: 56px, $br: 16px);
}

.product__minor_check_icon {
    position: absolute;
    left: 45px;
    bottom: -2px;
    @include tab {
        left: 40px;
        bottom: 0;
        transform: translate(25%, 25%);
    }
}

.product__minor_name_wrap {
    margin-right: auto;
    margin-bottom: 12px;
    @include tab {
        margin-bottom: 0;
    }
}

.product__minor_name {
    @include align_list;
    @include dynamic_name($mw: 230px, $mh: 24px);
}

.product_small_font_1 {
    margin-left: 8px;
}

.product__minor_price_wrap {
    text-align: right;
}

.product__minor_scroll {
    max-width: 8px;
    margin-left: 86px;
}