.product__box {
    padding-top: 48px;
    padding-bottom: 160px;
}

.product__main {
    margin-bottom: 72px;
    .container {
        @include align_list;
        justify-content: space-between;
    }
}

.product__image_wrap {
    position: relative;
}

.product__image {
    @include dynamic_image($mw: 585px, $w:585px, $mh: 508px, $br: 24px);
}

.product__time_wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-60%, -25%);
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 16px;
    background-color: var(--pand-first-medium-blue);
}

.product__time {
    @include align_list;
    svg {
        margin-right: 16px;
    }
}

.product__main_description {
    max-width: 575px;
}

.product__title,
.product__after_title {
    margin-bottom: 24px;
}

.product__main_price_list,
.product__main_artist_list,
.product__main_button_list {
    display: flex;
    justify-content: space-between;
}

.product__main_price_list {
    margin-bottom: 40px;
}

.product__main_price_item {
    &:nth-child(2) {
        text-align: right;
    }
    .text_font_1 {
        margin-bottom: 8px;
    }
}

.product__main_artist_list {
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    margin-bottom: 56px;
    border-radius: 16px;
    background-color: var(--panda-second-medium-blue);
}

.product__main_artist_item {
    @include align_list;
    img {
        margin-right: 16px;
    }
    .text_font_1 {
        margin-bottom: 4px;
    }
}

.product__main_artist_image {
    @include dynamic_image($mw: 64px, $w:64px, $mh: 64px, $br: 16px);
}

.product__main_artist_name {
    @include dynamic_name($mw: 103px, $mh: 24px);
}

.product__main_button {
    min-width: 275px;
    background-color: var(--panda-light-blue);
    &--active {
        border: 1.5px solid var(--panda-light-blue);
        background: var(--panda-second-btn-rgba);
    }
}

.product__more_button {
    min-width: 176px;
    border: 2px solid var(--panda-light-blue);
    text-align: center;
}

.product__main_button,
.product__more_button {
    padding: 16px;
    border-radius: 8px;
    @include scale_with_pointer;
}